@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: hidden;
}

.container {
    padding: 96px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    overflow-x: hidden;
}

button {
    background-color: #6527f5;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 48px;
    cursor: pointer;
    transition: all 300ms ease;
}


button:hover {
    background-color: blue;
}

h1 {
    font-size: 36px;
    line-height: 1.25;
}

p {
    line-height: 1.5;
}

nav {
    margin-top: 24px;
}

ul, ol {
    list-style-type: none;
}

.blue {
    color: #6527f5;
}

/* NAVIGATION */

.nav__pane {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.treact__title {
    font-size: 24px;
    font-weight: bold;
}

.treact__logo {
    height: 50px;
}

.nav__link {
    padding: 8px;
    color: black;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown__link {
    text-decoration: none;
    color: black;
}

.dropdown__link--primary {
    background-color: #6527f5;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 48px;
    margin: 8px;
}

.dropdown__link:hover {
    color: blue;
    text-decoration: none;
}

.dropdown__button {
    font-size: 12px;
    padding: 8px 12px;
}

.btn__menu {
    display: none;
}

.menu__dropdown {
    display: none;
    background-color: white;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 40px;
    opacity: 0;
    z-index: 100;
    transition: all 300ms ease;
    transform: translate(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: inset;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu--open .menu__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.btn__menu--close {
    position: absolute;
    top: 125px;
}

/* HEADER */

.header__input {
    width: 100%;
    font-size: 16px;
    height: 64px;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    color: rgb(36, 62, 99);
    transition: border-color 300ms;
    padding-left: 16px;
}

.header__row {
    padding: 40px;
    display: flex;
    text-align: left;
    align-items: center;
}

.header__left{
    width: 40%;
}

.header__para{
    margin: 32px 0;
}

.header__query {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
}

.header__button {
    height: calc(100% - 16px);
    z-index: 2;
    border: none;
    color: white;
    border-radius: 500px;
    width: 160px;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 16px;
    margin-right: 12px;
    position: absolute;
}

.header__img {
    margin: 0 auto;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 50%;
}

.header__right {
    width: 60%;
}

.header__customer {
    color: rgb(160, 174, 192);
    font-size: 12px;
}

/* FEATURES */

.feature__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature__title {
    text-align: center;
}

.feature__title h1{
    margin: 16px 0;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.feature__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
}

.feature {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 12px;
}

.feature__statement{
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.feature__img {
    padding: 12px;
    border: 1px solid gray;
    border-radius: 100%;
    display: flex;
}

.feature__para{
    margin-top: 16px;
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    color: rgb(124, 139, 161);
    max-width: calc(634px/3);
}

.features__text{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625
}

/* QUALITY WORK */

.quality__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.quality__img{
    width: 50%;
}

.quality__row{
    display: flex;
}

.quality__description{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.quality__para{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin-bottom: 24px;
}

/* STEPS */

.steps__row {
    display: flex;
}

.steps__img {
    width: 60%;
    margin-right: 24px;
    display: flex;
    position: relative;
}

.steps__right {
    width: 40%;
    height: 100%;
}

.steps__description{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.step {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.step__top {
    display: flex;
    gap: 12px;
}

.step p {
    margin-left: 48px;
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    line-height: 2;
}

.steps__list {
    width: 100%;
}

.step__number {
    color: #cdb5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__title {
    font-size: 20px;
    color: #243e63;
}

/* VALUES */

.values__list {
    display: flex;
}

.values__row {
    display: flex;
}

.values__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.values__left h1{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.values__para{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin: 16px 0;
}

.values__img {
    width: 50%;
}

.value{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 12px;
    line-height: 1.2;
}

.value p{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin-top: 12px;
}

/* PRICING */

.pricing__row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pricing__row h1 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.pricing__row p {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1
    line-height: 1.625;
    margin-bottom: 24px;
}

.pricing__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pricing__card {
    line-height: 2.5;
    border-radius: 5px;
    border-style: inset;
    padding: 16px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.business {
    background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%);
  color: white;
}

.plan__btn {
    border: none;
    transition: all  300ms ease
}

.plan__btn:hover {
    transform: translate(2%, -2%);
    box-shadow: 1px 2px black;
}

.personal__btn {
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.business__btn {
    color: #6415ff;
    background: #f7fafc;
}

.enterprise__btn {
    color: white;
    background: linear-gradient(115deg, 
    rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* TESTIMONIALS */

.testimonials__row {
    display: flex;
    justify-content: space-between;
}

.testimonials__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.testimonial__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.testimonials__img {
    width: 45%;
    margin-right: 36px;
}

.testimonials__img--2{
    height: 80px;
    border-radius: 500px;
    margin-right: 12px;
}

.stars {
    padding: 24px;
}

.testimonials__right {
    width: 45%;
}

.testimonials__para--1{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    margin: 16px 0;
}

.testimonials__para--2{
    margin: 16px 0;
}

.testimonials__card {
    display: flex;
    margin-right: 12px;
}

.testimonials__job--title {
    color: lightgrey;
    font-weight: bold;
}

.testimonial__buttons{
    display: flex;
    gap: 24px;
}

.testimonial__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edf2f7;
    color: blue;
    font-size: 24px;
    border-radius: 100%;
    border-width: 0;
    padding: 4px;
    margin: 0;
}

.testimonial__btn:hover {
    background-color: rgb(229, 231, 235);
}

/* START */

.start__row {
    background-color: blue;
    color: white;
    display: flex;
    padding: 56px;
    text-align: center;
    align-items: center;
}

.start__buttons {
    display: flex;
}

.start__btn--1 {
    background-color: #f56565;
    transition: all 300ms ease;
    margin-right: 24px;
}

.start__btn--1:hover {
    background-color:  rgba(229, 62, 62);;
}

.start__btn--2 {
    border: 1px solid rgb(160, 174, 192);
    background-color: unset;
    transition: all 300ms ease;
}

.start__btn--2:hover {
    background-color: rgba(247, 250, 252);
    color: rgba(100, 21, 255);
}

.start__btn--1, .start__btn--2 {
    border-radius: 50px;
}

/*FOOTER*/

footer {
    background-color: blue;
    padding: 56px 0;
    overflow-x: hidden;
}

.footer_row{
    text-align: center;
}

.foot__title{
    font-weight: bold;
    margin-bottom: 12px;
}

.columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    flex-wrap: wrap;
}

.column a {
    color: white;
    margin-bottom: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 12px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.copyright a {
    background-color: white;
    border-radius: 500px;
    padding: 8px;
    margin: 8px;
}

.copyright__img {
    height: 32px;
    width: 32px;
}

.copyright__statement {
    color: #cbd5e0;
    margin: 12px 0;
}

.copyright__treact{
        display:flex;
    }

.social__links{
    display: flex;
}

/* RESIZING FOR DIFFERENT DEVICES */

@media (max-width: 1280px) {
    h1{
        font-size: 36px;
        line-height: 1.25;
    }
    
    .row {
        padding: 0 32px;
    }

    .plan__btn {
        max-width: none;
    }

    .header__row {
        align-items: flex-end;
    }

    .header__para{
        font-size: 16px;
    }

    .header__input {
        width: 100%;
    }

    .plan__btn {
        max-width: none;
    }

    .start__row{
        padding: 56px;
    }
}

@media (max-width: 1024px){
    h1 {
        font-size: 30px;
    }
    
    .header__row{
        flex-direction: column;
        align-items: center;
    }

    .header__left {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    .feature{
    width: auto;
    max-width: 384px;
}  

    .feature__categories{
        max-width: 768px;
}

.feature__para{
    max-width: none;
}

.quality__description{
    font-size: 36px;
}

 .nav__links {
        display: none;
 }

    .btn__menu {
     display: block;
}

.start__title {
    text-align: center;
    width: 100%;
    max-width: 512px;
}

.start__buttons{
    width: auto;
    margin-top: 24px;
}

.start__row {
    flex-direction: column;
    text-align: center;
}


}

@media (max-width: 768px) {
.header__row,
.steps__row,
.testimonials__row {
    flex-direction: column;
    text-align: center;
    padding: 32px;
  }

.quality__row, .values__row{
    flex-direction: column-reverse;
}
 
.header__left, .header__right,
.quality__left, .quality__img,
.steps__right, .steps__img,
.values__left, .values__img,
.testimonials__right, .testimonials__img {
    width: 100%;
    margin-bottom: 40px;
  }

  .header__right,
  .quality__img,
  .steps__img,
  .values__img,
  .testimonials__img {
    display: flex;
    justify-content: center;
  }

       .header__query {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    }

.header__input {
    width: 100%;
    font-size: 16px;
    height: 64px;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    color: rgb(36, 62, 99);
    transition: border-color 300ms;
    padding-left: 16px;
}
   

.header__button {
    height: 68px;
    z-index: 2;
    border: none;
    color: white;
    border-radius: 500px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    position: static;
}

.feature__categories{
    justify-content: center;
}

 .feature{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature__statement{
       text-align: center;
       align-items: center;
    }

.steps__right{
    height: 60%;
}

.steps__img {
    margin-bottom: 40px;
}

    .pricing__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .pricing__card{
        width: 60%;
        margin-bottom: 24px;
    }

.start__row > h1 {
    font-size: 24px;
}

.start__buttons{
    flex-direction: column;
    margin: 12px auto;
    gap: 12px;
}

.start__btn--1{
    margin-right: 0;
}

.columns{
    flex-wrap: wrap;
}
    .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

}

@media(max-width: 640px){
    .testimonials__card{
        flex-direction: column;
        align-items: center;
    }

    .testimonial__buttons{
        margin-top: 32px;
        align-items: center;
        justify-content: center;
    }

    .testimonial__bottom{
        flex-direction: column;
    }

    .values__list{
        flex-direction: column;
    }

    .feature{
        flex-direction: column;
    }

    .columns{
        justify-content: space-between;
    }

    .column{
        align-items: center;
    }
    
}

@media (max-width: 480px) {

    p {
        font-size: 12px;
    }
    .header__row {
        padding: 40px;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
        justify-content: center;
    }

    .header__left {
        width: 100%;
    }


.header__img {
    margin: 0 auto;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
}

.values__left {
    width: 90%;
}

.pricing__card {
    width: 100%;
}

.quality__img{
    width: 90%;

}

.testimonials__right {
    width: 100%;
}

.email__button {
    width: 10%;
}

.start__row {
    display: flex;
    flex-direction: column;
}

.columns{
    justify-content: space-around;
}
.column {
    width: calc(100%/3);
    padding: 20px 0;
}
}